<%= stylesheet_link_tag "inputCSS/inputCss" %>

<h1> user info page </h1>

<table>
  <thead>
    <tr>
      <th>Follow</th>
      <th>Follower</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @list_size.times do |count| %>
      <tr>
        <td>
          <% if @following[count].present? %>
            <%= @following[count].name %>
          <% end %>
        </td>
        <td>
          <% if @followed[count].present? %>
            <%= @followed[count].name %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Edit', edit_user_path(id: @current_user.id) %>