<h1> user info page </h1>

<table>
  <thead>
    <tr>
      <th>Follow</th>
      <th>Follower</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @following.each do |following| %>
      <tr>
        <td><%= following.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
