// Place all the styles related to the ranking controller here.
// They will automatically be included in application.css.
// You can use Less here: http://lesscss.org/
.centering-mypage{
	width: 80%; 
	height: 80%;
  margin: 0 auto;
	 	h1{
		margin:         0 auto;
		margin-bottom:  10px;
		font-size:      20px;
		padding:        20px;
		padding-bottom: 0;
		text-align: center;
	}
	.centering-infolink{
  	width: 10%;
  	height: 10%;
  	padding-top: 10px;
  	margin:  0 auto;
  	color: white;
  }
  .table-mypage{
  	width: 40%;
  	height: 70%;
  	margin: 0 auto;
  	text-align: center;
  	th{
  		width: 50%;
			padding: 6px;
			text-align: center;
			color: white;
			background-color: darkgray;
			border-left: 2px solid black; 
			border-right: 2px solid black; 
  	}
  	td{
  		width: 50%;
			color: black;
			background-color: lightyellow;
			border-left: 2px solid black;
			border-right: 2px solid black;
		}
	}
}

