*{
  color:   white;
  padding:	0;
  margin:	0;
}

body{
  background-color: black;
  width:  100%;
  height: 100%;
}


#fr{
  fill: red;
}


#mapArea path:not(.winePath){
  stroke:   gray;
  stroke-width:   2px;
  fill:     none;
}

#visArea{
  position: absolute;
  top:      0;
  left:     0;
}


path.winePath{
	stroke:			black;
	stroke-width:	2px;
}

text.winePath{
  fill:       white;
  font-size:  30px;
  text-shadow: 2px 2px 2px black;
  display:    none;
  pointer-events: none;
}

path.winePath:hover + text.winePath{
  display:    block;
}

path.type1{
  fill:   #FF5F5C;
}

path.type2{
  fill:		#D6FFEA;
}

path.type3{
  fill:   #FFADD3;
}

path.type4{
  fill:   white;
}

path.type5{
  fill:   pink;
}