
<script src="http://www.google.com/jsapi/"></script>

<div id="visArea">
  <div id="map"></div>
</div>

<script>
  var windowX=window.innerWidth;
  var windowY=window.innerHeight;

  enableUpdateVisAreaSize("visArea");

  var wineData = <%= raw @array_wines.to_json %>;

  var googleMap;

  var wines = [];
  var wineParams = {
    // 何に使うか忘れた、きっと何かに使うんだよ
    productionDiscrictNamesMaxLength : 0
  };

  wineData.forEach(function(wine){
    wines.push(new Wine(wine));
    // todo : 産地の名前を見て、
    //        productionDiscrictNamesMaxLength 
    //        を更新してく処理をかく
  });

  computeWineLayoutPosition(wines);

  setGoogleMap("map", googleMap);

</script>