
<script src="http://www.google.com/jsapi/"></script>

<%= render partial: 'layouts/topbar' %>

<div id="visArea">
  <div id="map"></div>
</div>

<div id="detailArea" style="display:none; opacity:0"></div>

<%= render partial: 'layouts/footer' %>

<script>
  var windowX=window.innerWidth;
  var windowY=window.innerHeight;

  enableUpdateVisAreaSize("visArea");



  var wineData = <%= raw @array_wines.to_json %>;

  var googleMap;

  var wines = [];

  wineData.forEach(function(wine){
    wines.push(new Wine(wine));
  });

  setGoogleMap("map", googleMap);

</script>