
<script src="https://www.google.com/jsapi/"></script>

<%= render partial: 'layouts/topbar' %>

<div id="visArea">
  <div id="map"></div>
  <div id="filterArea" style="pointer-events:none; opacity:0"></div>
  <form id="filterShowSwitch">
    <input type="checkbox"
           id="filterShowInput"
           onClick="changeVisFilterArea();"
    ></input>
    <label for="filterShowInput">Filter</label>
  </form>

  <div id="detailArea" style="pointer-events:none; opacity:0">
    <button id="closeButton"
            onClick=" hiddenArea( 'detailArea' );
                      resetWineFilter();"
    >閉じる</button>
    <div id="name">Name : <span/></div>
    <div id="type">Type : <span/></div>
    <div id="price">Price : <span/></div>
    <div id="score">Score : <span/></div>
  </div>
</div>

<%= render partial: 'layouts/footer' %>

<script>
  var windowX=window.innerWidth;
  var windowY=window.innerHeight;

  enableUpdateVisAreaSize("visArea");



  var wineData = <%= raw @array_wines.to_json %>;

  var googleMap;

  var wines = [];

  wineData.forEach(function(wine){
    wines.push(new Wine(wine));
  });

  setGoogleMap("map", googleMap);

  var scoreSlider = new TwoHandleSlider( d3.select("#filterArea"), "scoreSlider" );

  scoreSlider.addDraggingFunction(
    function(){
      resetWineFilter();
    }
  );

  scoreSlider.addDraggingFunction(
    function(){
      wineFilterByScore(
        scoreSlider.getLeftHandleValue(),
        scoreSlider.getRightHandleValue()
      );
    }
  );

</script>