

<script src="https://www.google.com/jsapi/"></script>

<%= render partial: 'layouts/topbar' %>

<div id="visArea">
  <div id="map"></div>
  <div id="filterArea" style="pointer-events:none; opacity:0">
      <div id="onOffFiler">
        <form id="typeFilter">
          <input type="checkbox"
                 id="typeRed"
                 onClick="filterMap.red = !filterMap.red;wineFilter();"></input>
          <label for="typeRed">Red</label>

          <input type="checkbox"
                 id="typeWhite"
                 onClick="filterMap.white = !filterMap.white;wineFilter();"></input>
          <label for="typeWhite">White</label>

          <input type="checkbox"
                 id="typeRose"
                 onClick="filterMap.rose = !filterMap.rose;wineFilter();"></input>
          <label for="typeRose">Rose</label>

          <input type="checkbox"
                 id="typeSpark"
                 onClick="filterMap.sparkling = !filterMap.sparkling;wineFilter();"></input>
          <label for="typeSpark">Sparkling</label>

          <input type="checkbox"
                 id="typeDessert"
                 onClick="filterMap.dessert = !filterMap.dessert;wineFilter();"></input>
          <label for="typeDessert">Dessert</label>
        </form>
        <form id="unresisterFilter">
          <input type="checkbox"
                 id="unPrice"
                 onClick="filterMap.price = !filterMap.price;wineFilter();"></input>
          <label for="unPrice">Price</label>

          <input type="checkbox"
                 id="unYear"
                 onClick="filterMap.year = !filterMap.year;wineFilter();"></input>
          <label for="unYear">Year</label>
        </form>
        <form id="userFilter" onsubmit="filterMap.name = d3.select('#searchUser').node().value;wineFilter();return false;">
          <input type="checkbox"
                 id="mine"
                 onClick="filterMap.mine = !filterMap.mine;wineFilter();"></input>
          <label for="mine">Mine</label>

          <label for="searchUser">User</label>
          <input type="textField"
                 id="searchUser"></input>
          <input type="button"
                 id="searchUserButton"
                 onClick="filterMap.name = d3.select('#searchUser').node().value;wineFilter();"></input>
          <label for="searchUserButton">検索</label>

        </form>
      </div>
      <div id="scoreFilter" class="filter">
        <div class="filterName">Score</div>
      </div>
      <div id="priceFilter" class="filter">
        <div class="filterName">Price</div>
      </div>
      <div id="yearFilter" class="filter">
        <div class="filterName">Year</div>
      </div>
  </div>
  <form id="filterShowSwitch">
    <input type="checkbox"
           id="filterShowInput"
           onChange="changeVisFilterArea();"
    ></input>
    <label for="filterShowInput">Filter</label>
  </form>

  <form id="showCreateInputForm">
    <input type="button"
           id="showCreateInputButton"
           onClick="showCreateArea();"
    ></input>
    <label for="showCreateInputButton">＋</label>
  </form>

  <div id="detailTemplateArea" style="display:none">
    <div id="detailArea">
      <div class="name"><span/></div>
      <div class="region">Region : <span/></div>
      <div class="type">Type : <span/></div>
      <div class="price">Price : <span/></div>
      <div class="score">Score : <span/></div>
      <div class="year">Year : <span/></div>
      <div class="wineEditLinkArea">
        <a class="wineEditLink">編集</a>
        <a class="wineDeleteLink" data-method="delete">削除</a>
      </div>
    </div>
  </div>

  <div id="createWineArea"
       style="pointer-events:none;opacity:0;">
      <div id="createWineForm"></div>
  </div>

  <div id="loadingArea"
       style="pointer-events:none;opacity:0;">
       <img src="assets/Loading4.gif">
  </div>
</div>

<%= render partial: 'layouts/footer' %>

<script>
  var windowX=window.innerWidth;
  var windowY=window.innerHeight;

  enableUpdateVisAreaSize("visArea");



  var wineData = <%= raw @array_wines.to_json %>;

  var googleMap;

  var wines = [];
  var wineParams = {
    minPrice:     2000,
    maxPrice:     2000,
    minYear:      2000,
    maxYear:      2000, 
  };

  wineData.forEach(function(wine){
    wines.push(new Wine(wine));

    if(wine.price != null){
      if(wine.price < wineParams.minPrice)
        wineParams.minPrice = wine.price;
      if(wine.price > wineParams.maxPrice)
        wineParams.maxPrice = wine.price;
    }

    if(wine.year != null){
      if(wine.year < wineParams.minYear)
        wineParams.minYear = wine.year;
      if(wine.year > wineParams.maxYear)
        wineParams.maxYear = wine.year;
    }
  });

  setGoogleMap("map", googleMap);

  var scoreSlider = new TwoHandleSlider( d3.select("#scoreFilter"), "scoreSlider" );

  scoreSlider.addDraggingFunction(
    function(){
      wineFilter();
    }
  );

  scoreSlider.setSliderValue( 1, 5, 1, 5);

  

  var priceSlider = new TwoHandleSlider( d3.select("#priceFilter"), "priceSlider" );

  priceSlider.addDraggingFunction(
    function(){
      wineFilter();
    }
  );

  priceSlider.setSliderValue(
    wineParams.minPrice,
    wineParams.maxPrice,
    wineParams.minPrice,
    wineParams.maxPrice );

  
  var yearSlider = new TwoHandleSlider( d3.select("#yearFilter"), "yearSlider" );

  yearSlider.addDraggingFunction(
    function(){
      wineFilter();
    }
  );

  yearSlider.setSliderValue(
    wineParams.minYear,
    wineParams.maxYear,
    wineParams.minYear,
    wineParams.maxYear );

  d3.select("#onOffFiler").selectAll("input")
    .property("checked",true);
  d3.select("#mine")
    .property("checked",false);

  var filterMap = {
    red:        true,
    white:      true,
    rose:       true,
    sparkling:  true,
    dessert:    true,
    price:      true,
    year:       true,
    mine:       false,
    name:       ""
  }
</script>